/* Main */

.header{
  padding-top: 12px;
  background: #ffffff;
}
.content{
  margin: 24px 16px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
}
.triger-btn{
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
/* Sider */
.sider{
  height: 100vh;
  position: sticky !important;
  left: 0;
  bottom: 0;
  top: 0;
}
.logo{
  color: #45465e;
  margin: 40px 0;
  font-size: 1.5rem;
}
.menu-bar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}
.ant-menu-item-selected{
  background-color: #4f506f !important;
  color: #fff !important;
}

/* Bootstrap underlines ovverrides */
a {
  text-decoration: none !important;
}

/* button and color */
.ant-btn:hover{
  color: #4f506f !important;
  border-color: #4f506f !important;
}
.ant-btn-primary {
  background-color: #4f506f;
}
.ant-btn-primary:hover {
  background-color: #17273a !important;
  color: #fff !important;
}
.primary--color{
  color: #4f506f !important;
}
.primary--light--color{
  color: #727d90 !important;
}
.secondary--color{
  color: #727d90 !important;
}
.light--color{
  color: #d2e3c8 !important;
}
.gray--color{
  color: rgb(182, 181, 181) !important;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* This makes the container take the full height of the viewport */
}


.your-image-class {
  max-width: 100%; 
  max-height: 100%; 
  width: auto;
  height: auto;
}

/* App.css */
.login-container {
  background-color: rgb(240, 240, 240);
}
